body {
	font-family:sans-serif;
  	width: 1170px;  margin:10 auto;
}
.container {
	background-color: green;
	border-radius: 5px;
	padding: 10px;
	font-weight: bold;
}
.title {
	text-decoration:underline;
	text-align: center;
  	font-weight: bold;
  	font-size: 25px;
}
.stage {
	text-align: center;
	color:black;
	background-color: green;
	border-radius: 5px;
	padding: 10px;
	font-weight: bold;
}
.lesson {
	text-align: center;
	color:white;
	background-color: green;
	border-radius: 5px;
	padding: 10px;
	font-weight: bold;
}
.concept {
	background-color: lightyellow;
	padding: 4px;
	margin: 10px;
	border-radius: 5px;	
  	color: black;
  	text-align: left;
}
.concept-title {
	font-size: 20px;
	text-align: center;
	color: black;
	margin: 8px;
}
.concept-description {
	font-weight: lighter;
	margin: 6px;
}
.form {
	font-weight: lighter;
	margin: 6px;
}

.home {
	text-align: center;
}